# Tarea 2
Selección del conjunto de datos.

El conjunto de datos que seleccioné para trabajar durante este curso es sobre el total de alumnos de una universidad privada y sus calificaciones en áreas de matemáticas, lectura y escritura, así como grupo étnnico al que pertenecen y nivel educativo de sus padres. Seleccioné este dataset porque estoy familiarizadaa con los el área de educación, y con la finalidad de poder implementar este tipo de análisis en mi lugar de trabajo. 

Objetivos a lograr:
* Aprender a programar y a utilizar las herramientas con las que ya cuento de estadística y lógica para el análisis de datos.

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lalita\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lalita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lalita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lalita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lalita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lalita\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd
print(pd.__version__)

2.2.2

In [10]:
# Si el archivo CSV está en otro directorio, proporciona la ruta completa o relativa
df = pd.read_csv('C:/Users/Lalita/Desktop/ML_Diana/Datos puntajes alumnos.csv')
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
0,0,female,group B,bachelor's degree,standard,none,72,72,74
1,1,female,group C,some college,standard,completed,69,90,88
2,2,female,group B,master's degree,standard,none,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,47,57,44
4,4,male,group C,some college,standard,none,76,78,75